* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfixed ::after {
  content: "";
  display: block;
  clear: both;
}
/* header-section start here */
.header-section {
  background-color: black;
  height: 50px;
}

.header__logo {
  float: left;
  width: 30%;
}
.header__logo a img {
  width: 140px;
  margin-top: -30px;
}
.header__menu {
  float: right;
  width: 70%;
}
.header__menu ul {
  text-align: right;
}
.header__menu ul li {
  display: inline-block;
  margin-right: -25px;
}
.header__menu ul li a {
  display: inline-block;
  margin-right: 20px;
  line-height: 30px;
  border-left: 1px solid white;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
}
.header__menu ul li:last-child a {
  border-right: 1px solid white;
}
.header__menu ul li a:hover {
  background-color: red;
}
/* header-section end here */
/* banner-section start here */
.banner-section {
  height: 100vh;
  background-size: cover;
  background-position: top center;
  color: white;
  position: relative;
  z-index: 2;
}
.banner-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.banner__content {
  text-align: center;
  padding-top: 270px;
}
.banner__content h1 {
  background-color: rgba(255, 0, 0, 0.473);
  display: inline-block;
  padding: 10px 50px;
  font-size: 40px;
  border-radius: 15px 0px 15px 0px;
}
.banner__content p {
  background-color: rgba(0, 0, 0, 0.521);
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  width: 340px;
  font-size: 22px;
}
/* banner-section end here */
/* about-section start here */
.about-section {
  margin-top: 20px;
}
.about {
  text-align: center;
}
.about h1 {
}
.about p {
  width: 700px;
  margin: 0 auto;
  padding-top: 10px;
}
/* about-section end here */
/* service-section start here */
.service-section {
  margin-top: 100px;
}
.service__single {
  float: left;
  width: 31.33%;
  border: 2px solid #ddd;
  padding: 20px;
  margin-right: 2%;
  border-radius: 5px;
  text-align: center;
}
.service__single:last-child {
  margin-right: 0;
}
.service span {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 40px;
  border-radius: 10px 0 10px 0;
}
.service h4 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 14px 0;
}
.service P {
  font-size: 18px;
}
/* service-section end here */

/* blog-section start here--------- */
.blog-section {
  margin-top: 100px;
}
.blog__content {
  float: left;
  width: 65%;
  margin-right: 5%;
}
.blog__notice {
  float: left;
  width: 30%;
}

.blog__content img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px 0px 10px 0px;
}
.blog__content p {
  padding-top: 50px;
}

.blog__notice h2 {
  text-align: center;
  text-transform: Capitalize;
}
.blog__notice ul {
  text-align: center;
}
.blog__notice ul li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

/* blog-section end here--------- */
/* footer-section start here -----*/
.footer-section {
  background-color: black;
}
.footer__content {
  float: left;
  width: 50%;
  padding-top: 20px;
}
.footer__content p {
  color: white;
}
.footer__fa {
  float: right;
  width: 50%;
}
.footer__fa ul {
  text-align: right;
}
.footer__fa ul li {
  display: inline-block;
}
.footer__fa ul li a {
  color: white;
  display: block;
  padding: 15px 10px;
  font-size: 20px;
}
.footer__fa ul li a:hover {
  background-color: red;
}
/* footer-section end here -----*/
